<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Server Started</h1>

    <form action="/addData" method="post">
        <input type="text" placeholder="Enter Your Name" name="name">
        <input type="text" placeholder="Enter Your City" name="city">
        <button type="submit">Add</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.map((e) => { %>
                <tr>
                    <td><%= e.id %></td>
                    <td><%= e.name %></td>
                    <td><%= e.city %></td>
                    <td>
                        <a href="/editData/<%=e.id%>"><button>Edit</button></a>
                        <a href="/deleteData?id=<%=e.id%>"><button>Delete</button></a>
                    </td>
                </tr>    
            <% }) %>
        </tbody>
    </table>
</body>
</html>
